# Indexing

In [3]:
import pandas as pd

In [4]:
odf = pd.read_csv('../olympics.csv', skiprows=4)
odf.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [6]:
# Set the new index to a variable 'athlete'
athlete = odf.set_index('Athlete')
athlete.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [7]:
athlete.reset_index(inplace=True)

## sort_index()

In [8]:
athlete.head()

,Athlete,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
0,"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
1,"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
2,"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
3,"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
4,"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [9]:
athlete.set_index('Athlete', inplace=True)
athlete.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,100m freestyle,M,Gold
"HERSCHMANN, Otto",Athens,1896,Aquatics,Swimming,AUT,Men,100m freestyle,M,Silver
"DRIVAS, Dimitrios",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Bronze
"MALOKINIS, Ioannis",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Gold
"CHASAPIS, Spiridon",Athens,1896,Aquatics,Swimming,GRE,Men,100m freestyle for sailors,M,Silver

In [10]:
athlete.sort_index(inplace=True)
athlete.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"AABYE, Edgar",Paris,1900,Tug of War,Tug of War,ZZX,Men,tug of war,M,Gold
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,200m breaststroke,M,Bronze
"AALTONEN, Arvo Ossian",Antwerp,1920,Aquatics,Swimming,FIN,Men,400m breaststroke,M,Bronze
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,pommel horse,M,Gold
"AALTONEN, Paavo Johannes",London,1948,Gymnastics,Artistic G.,FIN,Men,team competition,M,Gold

In [12]:
athlete.sort_index(inplace=True, ascending=False)
athlete.head()

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"ÖSTRAND, Per-Olof",Helsinki,1952,Aquatics,Swimming,SWE,Men,400m freestyle,M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, 3 positions",M,Bronze
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"free rifle, team",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, standing",M,Silver
"ÖSTMO, Ole",Paris,1900,Shooting,Shooting,NOR,Men,"army rifle, 300m, prone",M,Bronze